body{
    background-color: rgb(0, 0, 0);
    color: azure;
}

h1{
    background-color: grey;
    color: white;
    /* border: 2px solid red; */
    text-align: center;
    /* margin: 200px 100px; */
}

.linktree{
    display:flex;
    font-size: 35px;
    /* border: 8pt solid orangered; */
    justify-content: space-evenly;
    /* background-color: blue; */
    align-items: center;
}

.linktree p{
    font-weight: bold;
}

/* testing of flex boxes for the rules. */

.flex-container{
    display:flex;
    /* border: 2px solid blueviolet; */
     /* flex-wrap: wrap; */
    /* flex-flow: column wrap; */
    /* align-items: center; */
    gap:24px;

}

.flex-container div {
    font-size: 24px;
}

.OP_Title{
    margin: 8px 16px;
}
.list{
    display: flex;
    flex-direction: column;
    border:  2px solid rgb(185, 184, 182);
        align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 400px;
    box-sizing: border-box;
    height: 100vh;
    padding:16px;
    /* background-color: bisque; */
    flex-wrap: nowrap;
    
}

.entbackground{
    background-image:url(images/entertainmentbackgroundimg.png);
}
.images{
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    
}

/* container for the images in flexbox */
.image-container{
    display: flex;
    /* border: solid 2px white; */
    align-items: center;
    gap: 5px;
    /* align-self: flex-end; */
    flex-wrap: wrap;
    background-color: hsl(60, 2%, 37%);

}

/* adding in footer CSS */
.footer{
    /* height:24px; */
    /* display: flex;
    flex: 1; */
    border: solid 2px yellow;
}

img{
    width: 300px;
    height: 250px;
}

.threadform{
display: flex;
justify-content: center;
align-items: center;
border: blue solid 2px;
flex: 1 1 0;
}

.politics-background{

}

.relationship-background{

}

.war-background{

}