body{
    background-color: #191919;
    color: azure;
    /* min-width: 750px; */
}

.homepage-container{
    padding: 16px 250px;
    /* border: solid hotpink; */
}

h1{
    background-color: #2D4263;
    color: white;
    border: 2px solid #ECDBBA;
    text-align: center;
    padding: 16px 16px;
    /* margin: 200px 100px; */
}

h2{
    background-color: #2D4263;
    color: #ECDBBA;
    text-align: center;
    padding: 16px;
    border: solid 2px #ECDBBA;
}

a {
    color: #c84b31;
}

.philo-links a{
    color:#2D4263;
    /* background-color: pink; */

}

.welcome-message{
    background-color: #2D4263;
    color: #ffffff;
    padding: 16px 24px;
    text-align: center;
    font-size: 24px;
    border: solid 2px #ECDBBA;
}

.thread-container{
    display: grid;
    /* grid-template-columns:50% 50%; */
    /* border: 3px #C84B31 solid; */
    grid-auto-flow: column;
    /* height: 80%; */
    column-gap: 16px;
    padding: 16px 16px 16px 16px;
    ;
}

.thread-container h2{
    text-align: center;
    background-color: #2D4263;
}

.newThreadContainer{
    text-align: center;
    border: solid 2px #2D4263;
}

.all-threads{
    /* grid-column: 2; */
    /* border: solid 1px rgb(119, 9, 27); */
    /* text-align: center; */
    background-color:#ECDBBA;

}
.all-threads ul{
    /* color: green; */
    /* border: 2px yellow solid; */
    display: inline-block;
    font-size: large;
    margin: 4px 4px 4px 4px;
}


.popular-threads{
    /* grid-column: 1; */
    /* border: solid 1px blue; */
    background-color: #ECDBBA;
}

.popular-threads ol{
    /* display: inline-block; */
    font-size: large;
}

.griddy{
    display: grid;
    grid-template-columns: 5 20%;
    /* grid-template-rows: auto; */
}

.grid-table{
    grid-column: 3;
    background-color: black;
}

.grid-affirmative{
    grid-column: 1;
    /* color:black; */
}

.grid-negative{
    grid-column: 5;
}

.linktree{
    display:flex;
    font-size: 24px;
    /* border: 8pt solid orangered; */
    justify-content: space-evenly;
    background-color: #ECDBBA;
    align-items: center;
    margin-bottom: 16px;
    /* color: #C84B31; */
   }

.linktree p{
    font-weight: bold;

}

/* testing of flex boxes for the rules. */

.flex-container{
    display:flex;
    /* border: 2px solid blueviolet; */
     /* flex-wrap: wrap; */
    flex-flow: column wrap;
    /* align-items: center; */
    flex:1;
    gap:16px;

}

.flex-container div {
    font-size: 24px;
}

.OP_Title{
    margin: 8px 16px;
}
.list{
    display: flex;
    flex-direction: column;
    border:  2px solid #ECDBBA;
    background-color: #2D4263;
        align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 100%;
    box-sizing: border-box;
    /* height: 100vh; */
    padding:8px;
    /* background-color: bisque; */
    flex-wrap: nowrap;
    
}

.entbackground{
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-image:url(images/entertainmentbackgroundimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 750px;
}
.images{
    display: flex;
    padding: 25px;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: space-evenly;
    
}

/* container for the images in flexbox */
.image-container{
    display: flex;
    border: solid 2px #ECDBBA;
    align-items: center;
    gap: 5px;
    /* align-self: flex-end; */
    flex-wrap: wrap;
    background-color:#2D4263;


}

.trending-threads{
    display: flex;
    flex-direction: column;
    flex: auto;
    align-items: center;
    background-color: #2D4263;
    border: 2px solid #ECDBBA;
}

/* adding in footer CSS */
.footer{
    /* height:24px; */
    /* display: flex;
    flex: 1; */
    border: solid 2px #ECDBBA;
}

img{
    width: 300px;
    height: 250px;
}
/* Form styles */

.login-container{
    display: flex;
    justify-content: flex-end;
    font-size: larger;
    /* border: 2px solid white; */
    /* background-color : #2D4263; */

}

.login-links{
    display: flex;
    background-color: #2D4263;
    flex-direction: column;
    padding: 8px 8px;
}

.threadform{
display: flex;
justify-content: center;
align-items: center;
/* border: blue solid 2px; */
flex: 1 1 0;
color: white;
}

.politics-background{
background-image: url(images/polbackgroundimg.png);
background-position: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 750px}

.relationship-background{
    background-image:url(images/relationsbackgroundimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 750px;
}

.war-background{
    background-image: url(images/warbackgroundimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 750px;
}
.philosophy-background{
    background-image: url(images/philobackgroundimg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 750px;}

.pmw-background{
    background-image: url(images/provemewrong.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    height: 750px;}

    #newThread{
        background-color: White;
        color:black;
    }

    .thread-headings{
        display: flex;
        justify-content: space-between;
        padding: 8px;
        
    }

    .affirmative-negative-container{
        display: flex;
        /* border: 2px red solid; */
        flex-direction: row;
        /* align-items: center; */
        justify-content: space-between;
        padding: 8 px;

    }

    .post-op{
       /* background-color: azure; */
        /* border: solid 1px azure; */
        font-size: 24px;
        color: black;
        
    }

    .post-container{
        background-color: azure;
        border: solid 8px white;
        width: 20%;
        font-size: 24px;
        color: black;
        /* justify-self: flex-start; */
    }

    
    .negativepost-container{
        background-color: rgb(228, 179, 88);
        border: solid 8px white;
        width: 20%;
        /* justify-self: flex-end; */
        /* text-align: right; */
        font-size: 24px;
        color: black;
    }

    .negative-args{
        display: flex;
        justify-self: flex-end;
    }

    @media screen and (max-width: 1000px) {
        .homepage-container{
            display: block;
            /* flex-flow: column wrap; */
            /* justify-content: center; */
            /* flex: auto; */
            width: 100%;
        }
        
        .flex-container{
            display:flex;
            flex-flow: row-reverse wrap;
            flex: auto;
            justify-items: center;
        }

        .linktree{
            display: flex;
            flex-flow: row wrap;
            flex-shrink: auto;
        }

        .affirmative-negative-container{
            display: flex;
            flex-flow: column wrap;
            flex: auto;
        }

        .negativepost-container{
            width: auto;
        }

        .post-container{
            width:auto;
        }

        .thread-headings{
            background-color: black;
        }

        .threadform{
            background-color: white;
        }
        
    }