.fullPage {
  display: flex;
  flex-flow: column wrap;
  text-align: center;
  background-color: aqua;
  border: red solid 2px;
}

.navigationUniversal{
  display:flex;
  font-size: 24px;
  border: 8pt solid orangered;
  justify-content: center;
  background-color: #ECDBBA;
  margin-bottom: 16px;
  padding: 2rem 2rem;
}

.navigationLinks {
  display: flex;
  border: #61dafb solid 2px;
  justify-content: space-around;
  gap: 16px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
